<div class="col-md-4">
É como se você me motivasse, me desse uma força a mais,
                    às vezes já nem quero algo, so quero deixar pra trás,
então você me aparece, e o meu pensamento se refaz
preciso ser forte por mim, pra merecer a paz que voce me traz. 
</div>

<div class="col-md-4">Difícil confessar, sobre mim você sabe mais,
minhas loucuras e amarguras, decepções e aventuras.
A vida que me espera é a mesma que contigo levo,
compartilhando os momentos, eu juro, pra ti me entrego.
</div>

<div class="col-md-4">E então ela sempre esteve lá pra ele, por ele, 
mesmo que distante, mesmo sem saber. 
De alguma forma estas duas almas colidiram não por acaso, 
e sim por uma força mútua, 
de alguma forma estas duas almas quando estão juntas ficam excedidas, 
lotadas de energias. 
</div>